<!DOCTYPE html>
<html>
<head>
    <title>Yu-Gi-Oh! Game</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Yu-Gi-Oh! Game</h1>

    <pre id="game-state"></pre>

    <button id="start-button">Start Duel!</button>

    <button id="update-button">Update Game State</button>

    <p id="message"></p>

    <form id="summon-form">
        <input type="number" id="card" name="card" min="0" max="4">
        <button type="submit">Summon</button>
    </form>    

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
