<!DOCTYPE html>
<html>
<head>
    <title>Yu-Gi-Oh! Game</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Yu-Gi-Oh! Game</h1>

    <pre id="game-state"></pre>

    <button id="update-button">Update Game State</button>

    <p id="message"></p>

    <script>
        function updateGameState() {
        fetch('/game_state')
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    // If the server sent a message, display it on the page
                    document.getElementById('message').textContent = data.message;
                } else {
                    // Otherwise, update the game state as usual
                    console.log(data);
                    // Update your page elements here
                }
            });
        }      

        $('#update-button').on('click', function() {
            updateGameState();
        });

        setInterval(updateGameState, 1000);
    </script>
</body>
</html>
